* {
	padding: 0;
	margin: 0;
	font-family: 'Josefin Slab', serif;
	background-color: transparent;
	overflow-x: hidden;
	}
	
.openbtn {
	/* for the overlay nav */
	cursor: pointer;
	position: fixed;
	right: 20px;
	top: 0;
	width: auto;
	font-size: 5vh;
	/* so it fits in the page title bar */
}

#pageLanding {
	width: 100vw;
	height: 100vh;
	/* making a background image rather than an <img> for the parallax */
	background-image: url("../images/backgrounds/me.jpg");
	background-repeat: no-repeat;
	background-size: 50vw 100vh;
/* 	background-position: -50vw 0; */
		/* a psuedo-crop to show only half the image. it makes me look fat though */
	background-attachment: fixed; 
		/* this makes the parallax!! */
}

/* The main page styling */

	#intro {
		position: absolute;
		left: 50vw;
		display: inline;
			/* this adds white space at the top */
		width: 50vw;
		height: 100vh;
			/* 75vh becuase of the padding */
	}
	
		#intro > p > a {
			text-decoration: none;
			font-weight: bold;
			color: black;
			right: 0;
		}
	
		#intro > header {
			font-size: 4em;
			margin-top: 25vh;
		}
		
			header > p {
				font-size: .75em;
				/* this font size is relative to the font size in the header
					right now its set to be 75% of the header font size*/
				margin-left: 2vw;
				/* making a little indent */
			}

	#links {
		position: absolute;
		bottom: 0;
		right: 0;
		/* b/c the nav isnt in the front page <section> I am positioning them so it looks like they are */
	}
	
		#links > ul {
			list-style-type: none;
		}
		
			#links > ul > li {
				display: inline;
				margin-right: 10px;
				width: 50%;
			}
		
				#links > ul > li > a {
					text-decoration: none;
					color: black;
					font-size: 1.70em;
					font-weight: bold;

				}
		
.transition {
	/* the transition/title bar for the next page that 'wipes' the previous page */
	height: 7vh;
	width: 100vw;
	padding-left: 2em;
	overflow-y: hidden;
}
	
	.transition > a {
		font-size: 7vh;
		padding: 1%;
		color: white;
		text-decoration: none;
		background-color: rgba(255,255,255, 0);
			/* for some reason the bgcolor of the page headings is the same as the page bg? overriding to transparent */
	}
	
.page {
	height: 93vh;
	width: 100vw;
	/* for uniformity of all the pages. 7vh for the transition bar and the rest for the page */
}

